# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Logs
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Alembic cache
alembic/__pycache__/